<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>creation_success</title>
</head>
<img src="https://www.hua.gr/files/logo.png" alt="wefg "
     width="1300" height="140">
<body style="background-color:LightGray;">

<h1  style="text-align:center;"> RECOMMENDATION   LETTERS   PLATFORM </h1>
<h2 style="text-align:center;color:forestgreen "> LETTER CREATION SUCCESSFULL!! </h2>

<form th:action="@{/appLogout}" method="POST">
    <input style="text-align:center;" type="submit" value="Log Out" />
</form>

</body>
</html>