<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>letter_check</title>
</head>
<body style="background-color:LightGray;">
<img src="https://www.hua.gr/files/logo.png" alt="wefg "
     width="900" height="140">
<h1 style="text-align:center;"> RECOMMENDATION LETTERS PLATFORM </h1>
<h2 style="text-align:center;"> Requests from Students:</h2>
<p style="text-align:center;"> ID / Student Name  / Teacher name  / Purpose of recommendation  /Student average Marks / Receiver Email </p>

<main>
<ul>
        <li  style="text-align:center;"  th:each="letter : ${letters}"
            th:text="|${letter.id} - ${letter.student_fn} ${letter.student_ln} , ${letter.teacher_fn} ${letter.teacher_ln} , ${letter.purpose} , ${letter.marks} , ${letter.email}|">
        </li>
    </ul>
</main>
<h3 style="text-align:center;"> Create a Recomenndation Letter</h3>
<form th:object="${formId}" th:action="@{/letter_check}" method="post"
    <p style="text-align:center;">Insert the ID of the request you want to accept</p>
    <input style="text-align:center;" type="text" id="letterid" th:field="*{letterid}">
    <p style="text-align:center;">Insert the text of the  recommendation letter</p>
    <textarea style="text-align:center;" id="w3review" name="w3review" rows="6" cols="80"></textarea>
    <br><br>
    <input style="text-align:center;" type="submit" id="submittext" value="Submit">
</form>
<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Log Out"/>
</form>

</body>
</html>