<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body style="background-color:LightGray;">
<body style="background-color:LightGray;">
<h1 style="text-align:center;"> RECOMMENDATION LETTERS PLATFORM </h1>
<h2 style="text-align:center;"> Letter Requests from Students:</h2>
<main>

    <ul>
        <li th:each="letter : ${letters}"
            th:text="|${letter.id} - ${letter.student_fn} ${letter.student_ln} , ${letter.teacher_fn} ${letter.teacher_ln} , ${letter.purpose} , ${letter.marks} , ${letter.email}|">
        </li>
    </ul>
</main>

</body>
</html>