<!DOCTYPE HTML>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>letter_request.html</title>

</head>
<body style="background-color:LightGray;">
<h1 style="text-align:center;"> RECOMMENDATION LETTERS PLATFORM </h1>
<h2 style="text-align:center;"> Insert Letter information!</h2>

<main>

<form th:object="${formData}"
      th:action="@{/letter_request}"
      method="post"
<p style="text-align:center;"> Students Firstname</p>
<input style="text-align:center;" type="text"  id="student_fn"   th:field="*{student_fn}" />

<p style="text-align:center;"> Students Lastname</p>
<input style="text-align:center;" type="text" id="student_ln" th:field="*{student_ln}" />

<p style="text-align:center;"> Teachers Firstname</p>
<input style="text-align:center;" type="text" id="teacher_fn" th:field="*{teacher_fn}"/>

<p style="text-align:center;"> Teachers Lastname</p>
<input style="text-align:center;" type="text" id="teacher_ln" th:field="*{teacher_ln}"/>

<p style="text-align:center;">Letter purpose (internship, postgraduate studies, work) </p>
<input style="text-align:center;" type="text"  name="purpose" />

<p style="text-align:center;"> Studies rating</p>
<input style="text-align:center;" type="text"  id="marks" th:field="*{email}"/>

<p style="text-align:center;"> Receiver Email</p>
<input style="text-align:center;" type="text"  name="email"/>

<p style="text-align:center;"> </p>
<input  style="text-align:center;"  type="submit"  id='submitletter'  value="Submit" />

</form>
</main>
</body>


</html>