<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>letter_request.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:LightGray;">
<h1 style="text-align:center;"> RECOMMENDATION LETTERS PLATFORM </h1>
<h2 style="text-align:center;"> Insert Letter information!</h2>


<form name="/letter_request" method="post" action="RequestServlet">
<p style="text-align:center;"> Students Firstname</p>
<input style="text-align:center;" type="text" name="student_fn"  />

<p style="text-align:center;"> Students Lastname</p>
<input style="text-align:center;" type="text" name="student_ln" />

<p style="text-align:center;"> Teachers Firstname</p>
<input style="text-align:center;" type="text" name="teacher_fn"/>

<p style="text-align:center;"> Teachers Lastname</p>
<input style="text-align:center;" type="text" name="teacher_ln"/>

<p style="text-align:center;">Letter purpose (internship, postgraduate studies, work) </p>
<input style="text-align:center;" type="text"  name="purpose" />

<p style="text-align:center;"> Studies rating</p>
<input style="text-align:center;" type="text"  name="marks"/>

<p style="text-align:center;"> Receiver Email</p>
<input style="text-align:center;" type="text"  name="email"/>

<p style="text-align:center;"> </p>
<input  style="text-align:center;"  type="submit"  id='submitletter'  value="Submit" />

</form>
</body>


</html>