<!DOCTYPE HTML>
<html>
<head>
    <title>letter_check</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:LightGray;">
<h1  style="text-align:center;"> RECOMMENDATION LETTERS PLATFORM </h1>
<h2  style="text-align:center;"> Letter requests from students: </h2>

<form
<p style="text-align:center;"> REQUEST 1 </p>
<input  style="text-align:center;"  type="button"  id='accept'  value="ACCEPT" />
<input  style="text-align:center;"  type="button"  id='reject'  value="REJECT" />
</form>
</body>
</html>